/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
 {
	font-family: "Montserrat", sans-serif !important;
}
/* antd styling override */
input {
	border-radius: 4px !important;
	border: 1px solid light-gray !important;
	height: 40px !important;
}
input:focus {
	outline: none !important;
	box-shadow: none !important;
	border: 1px solid gray !important;
}
label {
	font-size: 16px !important;
	color: black !important;
}
.ant-form-item {
	margin: 10px 0 !important;
}
/* common styling */
.card {
	box-shadow: 0 0 2px gray;
	border-radius: 0 !important;
}
.card-title {
	font-size: 1.2rem;
	font-weight: bold;
}
.normal-text {
	font-size: 1rem;
}
.primary-button {
	background-color: #005555 !important;
	border-color: #005555 !important;
	height: 40px !important;
	width: 100% !important;
	color: #ffffff !important;
	font-size: 16px !important;
}
.anchor {
	color: black !important;
	text-decoration: underline;
	font-size: 16px !important;
}

/* authentication pages */

.authentication {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #005555;
}
.authentication-form {
	width: 400px;
}

.authentication .card-title {
	font-size: 1rem;
	font-weight: bold;
	background-color: orange;
	color: #ffffff !important;
	max-width: max-content !important;
	padding: 7px 15px;
	border-radius: 7px 15px;
	margin-left: -40px;
}
